.nav {
  /* Adicione as propriedades flex aqui */
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -50px;
}

.nav__links {
  /* Redefina o estilo de listas padrão aqui */

  display: flex;
  column-gap: 20px;
  list-style-type: none;
  justify-content: end;
  padding-left: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 0;
}
