.recipes {
  width: 100%;
  margin: 0;
  background-color: #0a2850;
  padding-top: 1px;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  height: 100vh;
}
.recipes__title {
  max-width: 580px;
  margin-left: 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  padding-top: 100px;
}
.recipes__subtitle {
  max-width: 438px;
  margin-left: 80px;
  margin-bottom: 80px;
  font-family: "Noto", "Times New Roman", Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.recipes__videos-container {
  margin: 0;
}
.recipes__iframe {
  border-style: none;
}

.recipes__videos-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", "Arial", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.recipes__videos-description {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", "Arial", sans-serif;
  color: #ffffff;
}
.recipes__videos-caption {
  margin: 0;
}
